<wrapper class="secondary">

  <spacer size="16"></spacer>

  <row>
    <columns small="12">
      <spacer size="20"></spacer>
      <center><img class="bigeyeImage" src="assets/img/bigeye_2015_black.png" alt="BIGEYE"></center>
      <spacer size="30"></spacer>
      <center>
        <menu>
          <item href="https://www.facebook.com/BIGEYEagency/"><img class="socialMediaIcon" src="assets/img/FB.png"></item>
          <item href="https://www.instagram.com/bigeyeagency/?hl=en"><img class="socialMediaIcon" src="assets/img/Insta.png"></item>
          <item href="https://twitter.com/BIGEYEagency"><img class="socialMediaIcon" src="assets/img/Twitter.png"></item>
          <item class="lastIcon" href="https://www.linkedin.com/company/bigeye/"><img class="socialMediaIcon" src="assets/img/LinkedIn.png"></item>
        </menu>
      </center>
      <spacer size="25"></spacer>
      <p class="text-center reducedMargin"><a class="smallText overwriteA" href="tel:4078398599">407.839.8599</a></p>
      <p class="text-center"><a class="smallText overwriteA" href="https://bigeyeagency.com/">www.bigeyeagency.com</a></p>
      <spacer size="10"></spacer>
    </columns>
  </row>
</wrapper>
