<row>
  <columns small="12">
    <spacer size="10"></spacer>
    <img mc:edit="newsletterHeadline" src="assets/img/newsletterHeader.png" alt="Blog Headline">
  </columns>
</row>
<img mc:edit="topImage" src="assets/img/computer.png" alt="Blog Top Image">
<!-- <row>
  <columns small="12" mc:edit="beginningContent">
    <spacer size="30"></spacer>
    <h3>BIGEYE is launching a brand new website!</h3>
    <p>Expanding and unveiling a brand new image, the new BIGEYE site is on the cutting-edge of web design's most current trends: more animimation and less modulation.</p>
    <spacer size="30"></spacer>
    <p>The new design highlights the talent of our creative team and is the perfect representation of our culture at BIGEYE.</p>
  </columns>
</row> -->
<row mc:repeatable="topParagraph">
  <columns small="12" mc:edit="beginningContent">
    <spacer size="15"></spacer>
    <h3>[BEGINNING CONTENT PARAGRAPH HEADER]</h3>
    <p>[BEGINNING CONTENT PARAGRAPH BODY]</p>
  </columns>
</row>
