<spacer size="40"></spacer>
<img class="fullWidth" mc:edit="overlapImage" src="assets/img/cityWoman.png" alt="City Woman">
<wrapper class="blackBackground">
  <!-- <row>
    <columns small="12">
      <spacer size="50"></spacer>
      <h2>Industry Trend: Visitor Stitching</h2>
      <spacer size="20"></spacer>
      <h3>The Situation:</h3>
      <p>Sally views your company's website five times per week. Twice, she views it from her smartphone. Once, she views it from her tablet. A separate time, she clicks to your site while perusing her laptop. A fifth time, she sneaks a peak from her office computer while taking a break at work.</p>
      <spacer size="20"></spacer>
      <h3>The Problem:</h3>
      <p>Despite your best efforts to analyze web-traffic and audience-data, your current system is unable to recognize that each of those views are from multiple devices from one customer.</p>
      <spacer size="20"></spacer>
      <h3>The Solution: Visitor Stitching</h3>
    </columns>
  </row> -->
  <row>
    <columns small="12" mc:edit="articleHeader">
      <spacer size="50"></spacer>
      <h2>Industry Trend: Visitor Stitching</h2>
    </columns>
  </row>
  <row mc:repeatable="blogParagraph">
    <columns small="12" mc:edit="editableParagraph">
      <spacer size="15"></spacer>
      <h3>[PARAGRAPH HEADER]</h3>
      <p>[PARAGRAPH BODY]</p>
    </columns>
  </row>
</wrapper>
