<row>
  <columns small="12" mc:edit="spotlightHeader">
    <spacer size="50"></spacer>
    <h2>Design Spotlight: ProfitSword Squad</h2>
  </columns>
</row>
<!-- <row>
  <columns small="12" mc:repeatable="spotlightParagraph">
    <spacer size="20"></spacer>
    <h3>Powerful data that's current, precise, and interpretable</h3>
    <spacer size="20"></spacer>
    <p>Business Analyst and Software Developer may be their cover titles, but who are they really? Warriors working together bringing an army of data at your command.</p>
    <spacer size="30"></spacer>
    <p>Under Creative Director, Seth Segura, and lead designer, Rhett Withey, BIGEYE launched a national business-to-business campaign for ProfitSword. Changing the face of "Terra from accounting" and "Todd from operations" the ProfitSword Squad Goals campaign illustrates the ProfitSword team protecting and slaying business intelligence.</p>
    <spacer size="30"></spacer>
    <p>For its creative print and digital ads to its promotional cheese board, the Squad Goals campaign was a 2018 Silver ADDY Award Winner and a huge win for ProfitSword.</p>
    <spacer size="30"></spacer>
  </columns>
</row> -->
<row mc:repeatable="spotlightParagraph">
  <columns small="12" mc:edit="spotlightEditableParagraph">
    <spacer size="15"></spacer>
    <h3>[PARAGRAPH HEADER]</h3>
    <p>[PARAGRAPH BODY]</p>
  </columns>
</row>
